.user-interest-sec {
    background: var(--color-bg);
    padding: 0.5rem 1rem;
    margin: 1rem 0;
}
.ov-int-query-d {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.u-i-s {
    padding: 0.5rem;
}
.mint-sec-items {
    margin-bottom: 5rem;
}
.mint-sec-items h4 {
    font-weight: 600;
    margin: 0.8rem 0;
    border-bottom: 1px solid rgba(45, 89, 232, 0.278);
    color: var(--color-primary);
}
.ovv-11 {
    align-items: center;
    flex-grow: 0.8;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--color-primary-light-1);
}
.ovv-11 p {
    font-weight: 500;
}
.ovv-11 input {
    padding: 1rem;
    margin-left: 1rem;
    border-radius: 1rem;
    color: var(--color-primary);
    background: var(--color-lbg);
    border: 1px dashed var(--color-primary);
}


