.create {
    background-color: var(--color-bg);
    margin: 0.2rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}
.create-ss-box{
    margin: 2rem 0;
}
.create-s-b-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin: 1rem;
}
.create-s-b-item p {
    font-size: 1.1rem;
    font-weight: 700;
}
.floki {
    width: 70%;
}
.floki input {
    width: 100%;
}
.pla {
    width: 17%;
}
.create-s-b-item input, .u-kn-mflexer textarea, .gen-input {
    background: var(--card-color);
    border: 1px solid rgba(128, 128, 128, 0.178);
    box-shadow: var(--box-shadow-slim);
    border-radius: 0.3rem;
    width: 70%;
    padding: 0.6rem;
}
.fin22 {
    color: var(--color-white) !important;
    background: var(--color-primary);
}
.q-ader-01 {
    display:flex;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--color-white);
    background: var(--color-primary);
    align-items: center;
}
.create-question-box {
    position: relative;
    margin: 2rem 0.5rem;
}
.q-outline-c {
    min-width: 1rem;
    aspect-ratio: 1/1;
    border: 3px solid var(--color-primary);
    border-radius: 50%;
}
.q-fill-c {
    width: 1rem;
    display: none;
    background: var(--color-primary);
    aspect-ratio: 1/1;
    border: 3px solid var(--color-primary);
    border-radius: 50%;
}
.i112-input {
    padding: 0.5rem 1rem;
    border: 1px solid var(--clock-bg) !important;
    box-shadow: var(--box-shadow-slim);
    background: var(--color-bg);
    width: 100%;
    border-radius: 0.2rem;
}
.p-edir-b {
    padding: 0.5rem 1.5rem;
    background-color: var(--color-primary);
    border-radius: 0.3rem;
    color: var(--color-white);
}
.the-in-w11 {
    width: 0.8rem;
    background: var(--color-primary);
    aspect-ratio: 1/1;
    border: 1.2px solid var(--color-white);
    border-radius: 50%;
}
.bg-mann span {
    transform: translateX(-40%);
    box-shadow: var(--box-shadow-slim);
    padding: 0.2rem 0.4rem;
    border: 1px solid var(--color-primary);
    border-radius: 0.4rem;
    color: var(--color-primary);
    left: 50%;
}
.files-add-001 {
    display: flex;
    gap: 0.6rem;
    margin: 0.4rem 0;
    align-items: center;
}
.hiddenV{
    width: 0;
    visibility: hidden;
}
.lov-112 {
    position: absolute;
    top: 0;
    color: var(--color-primary);
    right: 0;

}
.q-image-iden{
    width: 5rem;
    aspect-ratio: 1/1;
    border: 1px dashed var(--color-primary);
    cursor: pointer;
    border-radius: 0.3rem;
}
#q-audio-iden {
}
.nk-w4 {
    border: 1px dashed var(--color-primary);
    border-radius: 0.3rem;
}

.files-add-001 div {position: relative;}
.files-add-001 div span {
    display: none;
    position: absolute;
}
.files-add-001 p{
    font-size: 1.4rem;
    margin: 0.3rem 0rem;
    aspect-ratio: 1/1;
    width: fit-content;
    color: var(--color-primary);
    border: 1px dashed var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
}
.files-add-001 div:hover span {
    display: inline;
    float: left;
    z-index:20;
    background: var(--color-bg);
    width: max-content;
}
.u-kn-mflexer {
    display: flex;
    gap: 1rem;
}
.create-qbox-type {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 2rem 0;
}
.create-qbox-type dl p{
    color: var(--color-primary);
    border: 1px dashed var(--color-primary);
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.3rem;
}
.pos-rel {
    position: relative;
}
.some-wr11 {flex-wrap: wrap;}
.some-wr11 p {flex-grow: 0.2;}
.some-wr11 p:hover {
    border: 1px solid var(--color-primary);
}
.more-032-q:hover {
    border-bottom: 1px solid var(--color-primary);
    cursor: pointer;
}
/* ==========================================  Answer type Section ========================================== */
.boolen-ans-1 {
    display: flex;
    flex-direction: column;
    margin: 0 1.3rem;
    gap: 1rem;
}

.boolen-ans-1 input {
    background: var(--color-bg);
    color: var(--color-primary);
    width: fit-content;
    padding: 0.7rem 1rem;
    border-radius: 0.3rem;
    border: 0.5px solid var(--color-primary);
    box-shadow: var(--box-shadow-slim);
}
.radio-answer-032 input {
    box-shadow: var(--box-shadow-slim);
    border: 1px solid var(--color-primary);
    margin: 0rem 0;
}
.more-032-q {
    /* border: 1px solid var(--color-primary); */
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    margin-left: 1rem;
    width: fit-content;
    border: 1px solid var(--color-primary-dark);
    box-shadow: var(--box-shadow);
    color: var(--color-primary);
}
.delete-area-102 {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}
.delete-area-102 button {
    background-color: red;
}
.ctn-items-define-umax{
    display:flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}
.ctn-items-define-umax input {
    box-shadow: var(--box-shadow-slim);
    padding: 0.6rem 1rem;
    flex-grow: 0.2;
}
.ctn-items-define-umax p{
    font-weight: 700;
}
.ans-pre input {
    width: 90%;
    padding: 0.3rem 0.8rem;
    background: var(--card-color);
    word-break: break-all;
}
.prev-11-w-1 {font-weight: 600;}
.prev-11-w-1 textarea {
    background: var(--color-lbg-1);
    border-radius: 0.3rem;
    height: fit-content;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    width: 88%;
}
.so12-c textarea {
    background: var(--color-lbg-1);
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    margin: 0.7rem 2rem;
}
.resp-101 {
    flex-wrap: wrap;
}
.ans-pre {
    margin: 0.7rem 2rem;
}
.ans-pre input {
    box-shadow: var(--box-shadow-slim);
}
.pol-12 textarea {
    background: var(--color-lbg-1);
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    margin: 0.7rem 2rem;
}

.edit-ext-surv-111 {
    box-shadow: var(--box-shadow);
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 0.3rem;
}
.small-ed-papa-111 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ees-111 {color: var(--color-primary);}

.cnt2-f0item button {
    margin: 0 0.5rem;
}
.cnt2-f0item-1 {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0 0 0;
    justify-content: flex-end;
}

.ed-111 {
    background-color: var(--color-primary);
    color: var(--color-white);
}
.ed-111:hover, .q-ader-01:hover {background-color: var(--color-primary-dark);}
.del-111 {
    background-color: rgb(255, 58, 58);
    color: var(--color-white);
}
.del-111:hover {background-color: red;}
.ed-padj-det-111{
    margin: 0.5rem 1rem;
}
.ode-1 {
    margin-top: 4rem;
}


/* =======================modal================================ */

.delete-modal{
    position: fixed;
    width: 100dvw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    top: 0;
    left: 0;
    z-index: 10;
    backdrop-filter: blur(10px);
    background-color: rgba(67, 66, 66, 0.264);
}
.modal-inn-101 {
    background: var(--card-color);
    width: max-content;
    padding: 2rem 1rem;
    border-radius: 0.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 93%;
}
.modal-inn-101 p >span {
    color: var(--color-primary);
    font-weight: 700;
}
.del-opt-101 {
    margin: 2rem 0 0 0;
    display: flex;
    justify-content: flex-end;
    gap: 0.4rem;
    font-weight: 600;
}
.h-lbu:hover {
    background: red;
    color: var(--color-white);
}
.h-red:hover {
    background: var(--color-primary);
    color: var(--color-white);
}

/* =============================================================== */

@media screen and (max-width:600px) {
    .create {
        padding: 0.5rem;
    }
    .ctn-items-define-umax {
        flex-direction: column;
        align-items: flex-start;
    }
    .ctn-items-define-umax input {
        margin-left: 1rem;
        width: 80%;
    }
    .create-s-b-item input {
        width: 96% !important;
        flex-grow: 0.8;
    }
    .create-s-b-item {
        margin: 1rem 0;
        flex-direction: column;
        align-items: flex-start;
    }
    .u-kn-mflexer {
        flex-direction: column;
        align-items: flex-start;
    }
    .u-kn-mflexer textarea {
        width: 95%;
    }
    .create-question-box {
        margin: 2rem 0;
    }
    .files-add-001 {
        gap: 0.2rem;
    }
    .floki {
        flex-grow: 0.8;
        width: 95%;
    }
    .resp-101 {
        gap: 0.1rem;
        align-items: baseline;
    }
    .floki input {
        width: 100%;
        
    }
    .pla{display: none;}
    .q-ader-01 {
        justify-content: right;
        margin-top: 1rem;
    }
    .cnt2-f0item {
        display: none;
    }
    .cnt2-f0item-1 {display: flex;}
    .ees-111{
        width: 100%;
    }
}

@media screen and (max-width:480px){
    .resp-101{
        flex-direction: column;
    }
}